.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  position: relative;
}

.mainContainer {
  background-color: #E8EDF3;
  box-shadow: 15px 5px 25px 5px rgba(119, 145, 235, 0.25);
  width: var(--main_container-width);
  height: 100vh;
  position: absolute;
  z-index: 1;
  padding-inline: 5vw;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mainContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mainContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
